%oss {
    font-family: "Open Sans Semi", sans-serif;
}
%osb {
    font-family: "Open Sans Bold", sans-serif;
}
%ose {
    font-family: "Open Sans Extra", sans-serif;
}
%ur {
    font-family: "Ubuntu Regular", sans-serif;
}
%ub {
    font-family: "Ubuntu Bold", sans-serif;
}