$primary-white-color: #ffffff;
$primary-accent-color: #fcae26;
$primary-hover-color: #f39313;
$primary-headline-color: #000000;
$primary-text-color: #444444;
$footer-text-color: #969aa8;

// Icon colors
$icon-first-color: #e68d0e;
$icon-second-color: #fd642f;
$icon-third-color: #824fe3;
$icon-fourth-color: #00ab9f;

// backgrounds
$bg-section-color: #fafafa;
$primary-qoal-bg:#824fe3;
$bg-item-first-color: rgba($icon-first-color, 0.2);
$bg-item-second-color: rgba($icon-second-color, 0.2);
$bg-item-third-color: rgba($icon-third-color, 0.2);
$bg-item-fourth-color: rgba($icon-fourth-color, 0.2);

// typography

